@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.Product>
@using ModelEF.DAO
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-file-text-o"></i>&nbsp;Danh mục Sản Phẩm
}


@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Tạo mới", "Update", "Product", null, new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Cấu hình</th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Giá
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Loại Sản Phẩm
            </th>
            <th>
                Thao tác
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
        @{
            var i = 1;
        }
        @foreach (var item in Model)
        {
    <tr>
        <td align="center">@i</td>
        <td>
            <a href="/Admin/Product/Update/@item.ID" title="Cập nhật"><i class="fa fa-refresh"></i></a>
            &nbsp;
            @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
            {
               // Confirm = "Bạn có muốn xóa bản ghi này?",
                OnComplete = "$('#row_" + @item.ID + "').remove()",
                OnSuccess = "$('#myModalDelete').modal('show');",
                HttpMethod = "Delete"
            }, new { @class = "glyphicon glyphicon-trash", @title = "Xóa" })

        </td>
        <td>
            <img src="@Url.Content("~/Image/" +item.Image)" height="80" width="80" />
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.UnitCost
        </td>
        <td>
            @item.Quantity
        </td>
        <td>
            @(new CategoryDao().Find(@item.TypeID).Name)
        </td>
        <td>
            <a href="/Admin/Product/DetailAdmin/@item.ID">Xem chi tiết</a>
        </td>
        <td>
            <a href="#" class="btn btn-success btn-active" data-id="@item.ID">
                @(item.Status ? "Hiển thị" : "Ẩn")
            </a>

        </td>
    </tr>
            i++;
        }


    </table>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</div>
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thành công</h4>
            </div>
            <div class="modal-body"><div class="te">Xóa thông tin thành công</div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

</div>
@section jsFooter{
    <script src="~/Assets/admin/js/controller/ProductController.js"></script>
}

