
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listOneProduct = (List<ModelEF.Model.Product>)ViewBag.OneProducts;
    var listTwoProduct = (List<ModelEF.Model.Product>)ViewBag.TwoProducts;

}
@section slide{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                @{ Html.RenderAction("Category", "Product");}
                </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        @{ Html.RenderAction("Slide", "Home");}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Sản Phẩm Mới</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả các sản phẩm</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in listOneProduct)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="~/Image/@item.Image" alt="@item.Image" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@item.UnitCost.ToString("##0.000đ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="@url">Thêm vào giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }


    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>Sản phẩm Hot</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả các sản phẩm</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in listTwoProduct)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="~/Image/@item.Image" alt="@item.Image" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@item.UnitCost.ToString("##0.000đ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="@url">Thêm vào giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
    </div>
</div>
